# Build
cmake-build-*/
build/
out/
*.user
*.vcxproj.user
*.sdf
*.suo
*.opensdf

# IDE
.idea/
.vscode/
.clangd/
.clang-tidy/

# OS
Thumbs.db
.DS_Store

# Data
*.db
*.db-wal
*.db-shm
logs/
config/config.yaml

# Dependency cache
vcpkg/
